* {
  box-sizing: border-box;
}

:root {
  --background: 17, 17, 27;
  --text: 205, 214, 244;
  --primary: 84, 8, 147;
  --secondary: 126, 148, 248;
}

body {
  margin: 0;
  background: rgb(var(--background));
}

.image-container {
  position: relative;
  display: inline-block;
}

.image-container img {
  object-fit: cover;
  height: 100vh;
}

#img-title {
  position: absolute;
  top: 20vh;
  width: 100%;
  background: rgba(var(--background), 0.6);
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5em;
}

.image-container p, h1 {
  color: rgb(var(--text));
  text-align: center;
}

.image-container>p {
  position: absolute;
  bottom: 0;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}
